body{
    --car-width: 50px;

    margin: 0;
    background: url("../image/1e.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#score_div{
    position: absolute;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    top: 40%;
    left: 10%;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 4px 4px 0 1px #bdbdbd;
    display: none;
}

#name{
    font-size: 3em;
    text-underline: crimson;
    font-family: 'Acme', sans-serif;
    margin: 0;
}

#game_Name{
    position: absolute;
    margin: auto;
    top: 10%;
    right: 10%;
    font-weight: bold;
    color: white;
}

#btn-play{
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#pause_btn{
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 40%;
    display: none;
}

.wrapper{
    background-color: black;
    position: absolute;
    margin: auto;
    width: 25%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    border-left: 8px #e0e0e0 dashed;
    border-right: 8px #e0e0e0 dashed;

}

.line{
    width: 4%;
    height: 150px;
    background-color: #bdbdbd;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#line1{
    top: -150px;
}

#line2{
    top: 150px;
}

#line3{
    top: 450px;
}

.car{
    position: absolute;
    transform: rotateZ(180deg);
    width: var(--car-width);
}

#car{
    position: absolute;
    width: var(--car-width);
    bottom: 5%;
    right: 50px;
}

#car1{
    top: -110px;
    left: 60%;
}

#car2{
    top: -310px;
}

#car3{
    top: -410px;
    left: 50%;
}

#game-over-box{
    display: none;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 20%;
    overflow: hidden;
}

.score-box {
    color: white;
    margin-top: 25px;
    text-shadow: 1px 1px 3px black;
}

#btn-replay {
    margin-top: 35px;
    cursor: pointer;
}

#final-score{
    color: red;
}

#High-score{
    color: blue;
}

#play {
    padding-top: 3%;
    cursor: pointer;
}
