body{
    margin: 0;
    background-color: #c8e6c9;
}

#score_div{
    position: absolute;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    top: 40%;
    left: 10%;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 4px 4px 0 1px #bdbdbd;
}

#btn-play{
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.wrapper{
    background-color: black;
    position: absolute;
    margin: auto;
    width: 350px;
    height: 95vh;
    top: 15px;
    /*bottom: 50px;*/
    left: 0;
    right: 0;
    overflow: hidden;
}

.line{
    width: 4%;
    height: 150px;
    background-color: #eeeeee;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#line1{
    top: -150px;
}

#line2{
    top: 150px;
}

#line3{
    top: 450px;
}

.car{
    position: absolute;
    transform: rotateZ(90deg);
    height: 50px;
}

#car{
    position: absolute;
    transform: rotateZ(270deg);
    height: 100px;
    bottom: 5%;
    right: 35px;
}

#car1{
    top: -100px;
    left: 10%;
}

#car2{
    top: -250px;
    right: 40%;
}

#car3{
    top: -350px;
    left: 60%;
}

#game-over-box{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: 20%;
}

#score-box {
    color: white;
    margin-top: 25px;
    text-shadow: 1px 1px 3px black;
}

#btn-replay {
    margin-top: 35px;
}

#final-score{
    color: red;
}

